.section__container-three{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  width: 100%;
  gap: 40px;
  margin-top: 30px; 
}

.cards__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section-three-title{
  font-weight: var(--weight-1);
  font-size: var(--font-2);
  color: var(--color-grey-1);
}

.card-box{
  display: flex;
  flex-direction: column;
  width: 308px;
  height: 100%;
  border-radius: var(--radius-1);
}

.card-box figure{
  height: 113px;
}

.card-box img{
  width: 308px;
  height: 113px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(.jpg), url(.jpg);
  border-radius: 4px 4px 0px 0px; 
}

.div-card{
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  gap: 20px;
  background-color: var(--color-grey-8);
}

.card-name-album{
  display: flex;
  gap: 20px;
}

.album-title{
  font-weight: var(--weight-1);
  font-size: var(--font-4);
  color: var(--color-grey-2);
}

.album-age{
  font-weight: var(--weight-2);
  font-size: var(--font-4);
  color: var(--color-grey-2);
}

.title-name-band{
  font-weight: var(--weight-1);
  font-size: var(--font-2);
  color: var(--color-grey-1);
}

.card-value-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-value{
  font-weight: var(--weight-1);
  font-size: var(--font-3);
  color: var(--color-grey-1);
  font-family: var(--font-family);
}

.card-button{
  font-weight: var(--weight-2);
  font-size: var(--font-3);
  color: var(--color-grey-2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  width: 75px;
  height: 32px;
  background-color: var(--color-grey-7);
  border: 1px solid var(--color-grey-7);
  border-radius: var(--radius-1);
  cursor: pointer;
  font-family: var(--font-family);
}

@media (min-width: 1024px){
  .header__container{
    padding: 80px 30%;
  }
  .section__container-one{
    padding: 0 30%;
 }
  .section__container-two{
    padding: 0 30%;
 }
  .section__container-three{
    padding: 0 30%; 
  }
  .cards__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
}