.darkmood{
  background-color: var(--color-grey-0);
}


.backgroundButtonSun{
  background-color: var(--color-grey-1);
}

.backgroundButtons{
  background-color: var(--color-grey-1);
  color: var(--color-grey-3);
  border: none;
}

.backgroundButtons:hover{
  border: 1.5px solid var(--color-grey-9);
}

.backgroundButtons:active{
  border: 1.5px dashed var(--color-grey-9);
}

.buttonsCard{
  background-color: var(--color-grey-2);
  color: var(--color-grey-5);
  border: none;
}

.textcolor{
  color: var(--color-grey-8);
}


.colorCards{
  background-color: var(--color-grey-1);
  color: var(--color-grey-8);
}

.textCardsColor{
  color: var(--color-grey-3);
}
