.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 100px;
}

.header-logo{
  font-weight: var(--weight-1);
  font-size: var(--font-1);
  color: var(--color-grey-1);
}

.header-button-darkmood{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.invisible{
  display: none;
}

.backgroundButtonMoon{
  background-color: var(--color-grey-1);
}

