.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 100px;

}

.header-logo{
  font-weight: var(--weight-1);
  font-size: var(--font-1);
  color: var(--color-grey-1);
}

.header-button-darkmood{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
}

.header-button-darkmood img{
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  
}