.section__container-one{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 20px;
  margin-bottom: 30px;
}

.section-one-title{
  font-weight: var(--weight-1);
  font-size: var(--font-2);
  color: var(--color-grey-1);
}

.group__buttons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  
}

.btn-music{
  font-weight: var(--weight-2);
  font-size: var(--font-3);
  color: var(--color-grey-2);
  background-color: var(--color-grey-8);
  border: 1px solid var(--color-grey-8);
  font-family: var(--font-family);
  border-radius: var(--radius-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  height: 32px;
}

.section__container-two{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 20px;
  margin-bottom: 20px;
}

.div__container{
  display: flex;
  justify-content: space-between;
}

.div-title{
  font-weight: var(--weight-1);
  font-size: var(--font-2);
  color: var(--color-grey-1);
}

.div-text{
  font-weight: var(--weight-2);
  font-size: var(--font-2);
  color: var(--color-grey-2);
}

input[type="range"] {
  background-color: var(--color-brand-1);
  --range-color: #0202029f;
}

#precoInput{
  background-color: var(--color-brand-1);
  --range-color: #0202029f;
}
